.card {
  display: flex;
   flex-direction: column;
  background: var(--color-primary);
  padding: 16px;
  border-radius: 12px;
  height: 90vh;
}

.title {
  text-align: center;
  color: var(--color-title);
  font-family: 'AlbertusMT', sans-serif;
  font-size: 24px;
  margin-bottom: 12px;
}

.chatWindow {
  flex: 1;
  height: 100%;
  background-color: var(--color-secondary);
  border-radius: 5px 5px 0px 0px;
  padding: 8px;
  overflow-y: scroll;
}

.chatWindow::-webkit-scrollbar {
  width: 8px;
  padding: 1px;
}

.chatWindow::-webkit-scrollbar-thumb {

  background: var(--color-tertiary);
  border-radius: 4px;
}

.chatMessage {
  font-size: 12px;
  color: var(--color-tertiary);
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 6px;
}
.chatUserMensage{
  margin-left: 30px;
  background-color: var(--color-tertiary);
  font-size: 12px;
  color: white;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 6px;
}

.chatInput {
  background-color: var(--color-secondary);
  border: none;
  height: auto;
  padding: 8px;
  border-radius: 0px 0px 5px 5px;
  border-style: none;
}
