.card {
  background: #303030;
  padding: 16px;
  border-radius: 12px;
  margin-top: 16px;
}

.mapheader {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #303030;
  color: #d9a74a;
  font-size: 24px;
  font-family: 'AlbertusMT', sans-serif;
  width: 75px;
  padding-inline-start: 15px;
  padding-bottom: 3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.mapArea {
  height: 180px;
  background-color: #F1D9B6;
  border: 2px #2e2b29;
  border-radius: 8px;
}


