.card {
  background: #2e2b29;
  padding: 16px;
  border-radius: 12px;
  margin-top: 16px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.mapArea {
  height: 180px;
  background-color: #ffffff;
  border: 2px dashed #2e2b29;
  border-radius: 8px;
}
